<div class="col-span-full tab-wrapper">
 

  <div class="reports-row">
    <div *ngIf="checkReport('student_metrics', 'bigNumber1')" id="bignumber1">
      <app-pmposhan-bignumber-metrics
        (exportReportData)="importBigNumberMetrics($event)"
      ></app-pmposhan-bignumber-metrics>
    </div>

  
    <div class="row-wrapper grid grid-cols-5 gap-4" *ngIf="!NVSK">
      <div
        class="col-span-2 xmd:col-span-1 bignumber-container"
        id="bignumber2"
        *ngFor="let bigNumberData of bigNumberMetrics; let index = index"
      >
        <div *ngIf="checkReport('student_metrics', 'bigNumber' + (index + 1))">
          <app-big-number
            [bigNumberReportData]="bigNumberData"
          ></app-big-number>
        </div>
      </div>
    </div>
    <div
      class="col-span-1 xmd:col-span-1 div-shadow"
      *ngIf="checkReport('student_status', 'map')"
      id="map"
    >
      <app-progress-status
        #progressStatus
        (exportReportData)="csvDownload($event)"
      ></app-progress-status>
    </div>
    <div class="row-wrapper grid">
 
      <div class="col-span-2 xmd:col-span-2 div-shadow" id="table1">
        <app-app-usage-table></app-app-usage-table>
      </div>
      <div class="col-span-2 xmd:col-span-2 div-shadow" id="table2">
        <app-home-assignment></app-home-assignment>
      </div>
      <div class="col-span-2 xmd:col-span-2 div-shadow" id="table3">
        <app-remedial-data></app-remedial-data>
      </div>
    </div>
  </div>
</div>
